<!-- Component -->
<div class="flex flex-col justify-center items-center min-h-screen pt-10" id="testimony">
    <!-- Title and Subtitle -->
    <div class="text-center text-purple-400 mb-10">
        <h1 class="text-4xl text-gray-800 font-bold mb-2">Histoires de Foi et de Miracles</h1>
        <p class="text-xl text-slate-400">Découvrez les récits inspirants où la présence divine a transformé des vies.
        </p>
    </div>

    <!-- Verses Section -->
    <div class="bg-white p-6 rounded-lg shadow-lg mb-10 w-full max-w-[80rem]">
        <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Versets Bibliques Inspirants</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
                <p class="text-gray-700 text-lg italic">"Car je connais les projets que j'ai formés sur vous, dit
                    l'Éternel, projets de paix et non de malheur, afin de vous donner un avenir et de l'espérance." -
                    Jérémie 29:11</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
                <p class="text-gray-700 text-lg italic">"Je puis tout par celui qui me fortifie." - Philippiens 4:13</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
                <p class="text-gray-700 text-lg italic">"Ne crains rien, car je suis avec toi; ne promène pas des
                    regards inquiets, car je suis ton Dieu; je te fortifie, je viens à ton secours, je te soutiens de ma
                    droite triomphante." - Ésaïe 41:10</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
                <p class="text-gray-700 text-lg italic">"L'Éternel est mon berger: je ne manquerai de rien." - Psaume
                    23:1</p>
            </div>
        </div>
    </div>

    <!-- Testimonials Section -->
    <div class="flex justify-center items-center w-full">
        <div class="w-full mx-5 md:w-[80rem] space-y-6 p-10">
            <!-- Grid Container -->
            {% if testimonials %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                <!-- Card -->
                {% for testimonial in testimonials %}
                <div class="border border-gray-400 bg-white rounded-lg flex flex-col justify-between h-full shadow-xl">
                    <div class="p-4 pt-2 flex-1 flex flex-col">
                        <!-- Section du titre et du texte -->
                        <div class="mb-4 flex-1">
                            <h3 class="text-gray-800 font-bold text-lg mb-2 text-center ">{{ testimonial.title }}</h3>
                            <p class="text-gray-700 text-sm mt-2 line-clamp-4">{{ testimonial.text }}</p>
                        </div>
                        <!-- Bouton Continue -->
                        <div class="mt-4 text-center m-10">
                            <a href="{% url 'testimonial_detail' slug=testimonial.slug %}" class="bg-blue-300 hover:bg-blue-500 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                Continue
                            </a>
                        </div>
                        <!-- Section de l'auteur et de la date -->
                        <div class="flex items-center mt-auto">
                            <div class="w-10 h-10 rounded-full mr-4 flex items-center justify-center bg-gray-200">
                                <!-- Icône Avatar SVG -->
                                <svg class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                </svg>
                            </div>
                            <div class="text-sm">
                                <a href="#" class="text-gray-900 font-semibold leading-none hover:text-indigo-600">
                                    {{ testimonial.author_name }}
                                </a>
                                <p class="text-gray-600">{{ testimonial.publication_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                



                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 mt-10">
                <div class="flex flex-1 justify-between sm:hidden">
                    <a href="#"
                        class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                    <a href="#"
                        class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
                </div>
                <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                    <div>
                        <p class="text-sm text-gray-700">
                            Showing
                            <span class="font-medium">1</span>
                            to
                            <span class="font-medium">10</span>
                            of
                            <span class="font-medium">97</span>
                            results
                        </p>
                    </div>
                    <div>
                        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                            <a href="#"
                                class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                <span class="sr-only">Previous</span>
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                            <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                            <a href="#" aria-current="page"
                                class="relative z-10 inline-flex items-center bg-pink-500 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">1</a>
                            <a href="#"
                                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">2</a>
                            <a href="#"
                                class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">3</a>
                            <span
                                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>
                            <a href="#"
                                class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">8</a>
                            <a href="#"
                                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">9</a>
                            <a href="#"
                                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">10</a>
                            <a href="#"
                                class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                <span class="sr-only">Next</span>
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            {% else %}
            <p class="text-center text-gray-500 text-xl">Aucun témoignage disponible pour le moment.</p>
            {% endif %}
        </div>
    </div>
</div>