{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    {% tailwind_css %}
    <title>Calendrier</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <link href='https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css' rel='stylesheet'>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locales-all.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
    <style>
        #calendar-container {
            margin: 0 auto;
            padding: 10px;
            box-sizing: border-box;
        }
        #calendar {
            width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            #calendar {
                height: 600px;
            }
        }

        @media (max-width: 480px) {
            #calendar {
                height: 500px;
            }
        }

        @media (max-width: 768px) {
            .fc-timeGridWeek-button {
                display: none;
            }
        }

        .fc-event {
            cursor: pointer; /* Change le curseur en pointeur pour indiquer que c'est cliquable */
        }
    </style>
</head>
<body class="bg-gradient-to-r from-neutral-300 to-stone-400">
    <!-- Header avec bouton de retour fixe et titre -->
    <header class="relative bg-gradient-to-r from-indigo-500 to-purple-500 text-white py-16 shadow-md">
        <!-- Bouton de retour fixe -->
        <a href="/"
           class="absolute top-4 left-4 bg-indigo-600 text-white font-bold py-2 px-4 rounded hover:bg-indigo-700 transition duration-300 flex items-center">
            <svg class="w-4 h-4 mr-2 animate-pulse" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
            </svg>
            Retour
        </a>
        <!-- Titre -->
        <div class="flex justify-center items-center h-full">
            <h1 class="text-3xl md:text-4xl font-bold text-center">Découvrez tous nos événements</h1>
        </div>
    </header>

    <div id="calendar-container" class="bg-white p-6 rounded-lg shadow-lg mt-6">
        <div class="mb-4 text-center text-gray-700">
            <p class="text-xl font-bold text-indigo-700 bg-yellow-200 p-3 rounded-lg shadow-md inline-block">
                <svg class="w-6 h-6 inline-block mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m4 0h-1v4h-1m4-4h-1v4h-1m-4 4h-1v-4h-1m4 0h-1v4h-1m4-4h-1v4h-1M7 8V7a5 5 0 015-5h0a5 5 0 015 5v1m-1 8a1 1 0 11-2 0 1 1 0 012 0zM6 8a1 1 0 011-1h10a1 1 0 011 1v10a1 1 0 01-1 1H7a1 1 0 01-1-1V8z"></path>
                </svg>
                Cliquez sur un événement pour afficher les détails.
            </p>
        </div>
        <div class="mb-4 text-center text-gray-700">
            <p class="text-lg font-semibold text-blue-900 bg-blue-100 p-4 rounded-lg shadow-lg">
                Notre calendrier affiche les événements pour les 3 prochains mois afin que vous puissiez planifier à l'avance. Restez informé des prochaines activités et rejoignez-nous pour chaque événement !
            </p>
        </div>
        <div id='calendar'></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var events = {{ events|safe }};
            
            function getCalendarView() {
                return window.innerWidth < 768 ? 'listWeek' : 'timeGridWeek';
            }
            
            var calendar = new FullCalendar.Calendar(calendarEl, {
                dayMaxEventRows: true,
                initialView: getCalendarView(),
                locale: 'fr',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: window.innerWidth < 768 ? 'listWeek,timeGridDay' : 'timeGridWeek,timeGridDay,listWeek'
                },
                allDayText:'',
                views: {
                    timeGridWeek: {
                        buttonText: 'Semaine'
                    },
                    timeGridDay: {
                        buttonText: 'Jour'
                    },
                    listWeek: {
                        buttonText: 'Liste'
                    }
                },
                events: events,
                eventClick: function(info) {
                    info.jsEvent.preventDefault(); // Prevent the browser from following the link

                    Swal.fire({
                        title: info.event.title,
                        html: `
                            <p><strong>Début:</strong> ${info.event.start.toLocaleString()}</p>
                            ${info.event.end ? `<p><strong>Fin:</strong> ${info.event.end.toLocaleString()}</p>` : ''}
                            <p><strong>Description:</strong> ${info.event.extendedProps.description || 'No description'}</p>
                        `,
                        icon: 'info'
                    });
                }
            });

            calendar.render();

            window.addEventListener('resize', function() {
                var newView = getCalendarView();
                if (calendar.view.type !== newView) {
                    calendar.changeView(newView);
                }
                calendar.setOption('headerToolbar', {
                    left: 'prev,next today',
                    center: 'title',
                    right: window.innerWidth < 768 ? 'listWeek,timeGridDay' : 'timeGridWeek,timeGridDay,listWeek'
                });
            });
        });
    </script>
</body>
</html>
