{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galerie de Vidéos</title>
    <style>
        /* Style for the scroll indicator */
        #scrollIndicator {
            position: fixed;
            top: 0;
            left: 0;
            width: 0;
            height: 4px;
            background-color: #f00; /* Red color */
            z-index: 100;
            transition: width 0.25s ease-out;
        }
    </style>
</head>
<body class="bg-blue-900 text-white">
    <!-- Scroll Indicator -->
    <div id="scrollIndicator"></div>

    <!-- Fixed back button -->
    <a href="/" class="fixed top-4 left-4 bg-red-600 text-white rounded-full p-3 flex items-center shadow-lg z-50">
        <svg xmlns="http://www.w3.org/2000/svg" class="animate-pulse h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
    </a>

    <div class="relative w-full overflow-hidden" style="padding-top: 56.25%;">
        <iframe class="absolute inset-0 w-full h-full" src="https://www.youtube.com/embed/hQDb8Hn-FCs?si=hH2TVQmeejL1MQkG" allowfullscreen></iframe>
    </div>
    
    <div class="relative w-full overflow-hidden" style="padding-top: 56.25%;">
        <iframe class="absolute inset-0 w-full h-full" src="https://www.youtube.com/embed/Tk-pUJy9dhw?si=0zMqatO224i_Bu2K" allowfullscreen></iframe>
    </div>
    
    <div class="relative w-full overflow-hidden" style="padding-top: 56.25%;">
        <iframe class="absolute inset-0 w-full h-full" src="https://www.youtube.com/embed/kTXG1x_Inv0?si=YeYstq_pxJCuZWGx" allowfullscreen></iframe>
    </div>
    
    <div class="relative w-full overflow-hidden" style="padding-top: 56.25%;">
        <iframe class="absolute inset-0 w-full h-full" src="https://www.youtube.com/embed/Kwriq3CnlDg?si=uYvEMtjmqMiS13_b" allowfullscreen></iframe>
    </div>

    <script>
        // Function to update the scroll indicator width
        function updateScrollIndicator() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("scrollIndicator").style.width = scrolled + "%";
        }

        // Attach the function to the window's scroll event
        window.onscroll = function() {
            updateScrollIndicator();
        };
    </script>
</body>
</html>
