<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 relative">
  <div
    class="bg-cover bg-center text-center overflow-hidden"
    style="
      min-height: 500px;
      background-image: url('https://cdn.helloasso.com/img/photos/add-2019-1-054246b5e34e49d391aa81704f91d121.jpg');
    "
    title="Woman holding a mug"
  ></div>
  <div class="max-w-3xl mx-auto">
    <div
      class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal"
    >
      <div class="bg-white relative top-0 -mt-32 p-5 sm:p-10">
        <h1 href="#" class="text-gray-900 font-bold text-3xl mb-2">
          Qui sommes-nous ?
        </h1>

        <p class="text-base leading-8 my-5">
          Les «ASSEMBLÉES DE DIEU» sont une famille universelle. Elles sont
          répandues dans le monde entier et groupent des millions de croyants
          d'origines diverses qui communient dans la même foi, la même grâce, la
          même espérance. Les « ASSEMBLÉES DE DIEU » forment donc bien un
          rassemblement UNIVERSEL, un peuple chrétien qui a un message pour
          cette génération, lui rappeler que : «Jésus est le même, hier et
          aujourd'hui et éternellement » (Hébreux 13/8) ; et Ses Paroles, trop
          souvent oubliées : «Si quelqu'un m'aime, il gardera ma Parole» (Jean
          13/23) ; «Le ciel et la terre passeront mais mes paroles ne passeront
          pas» (Matthieu 24/35) ; «Cette Bonne Nouvelle du royaume sera prêchée
          dans le monde entier, pour servir de témoignage à TOUTES les nations.
          Alors viendra la FIN» (Matthieu 24/14). C'est là, la raison d'être et
          le message du «Mouvement de Pentecôte» : annoncer Jésus-Christ, offrir
          le «Seul» vrai remède aux maux de l'homme moderne. Le retour à une foi
          vivante. La nouvelle naissance. La conversion au Dieu Vivant et Vrai.
          La vie selon la Parole de Dieu.
        </p>

        <h3 class="text-2xl font-bold my-5 text-indigo-600">
          LE SALUT PAR GRÂCE
        </h3>

        <blockquote
          class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600"
        >
          don gratuit de Dieu qui se reçoit par la foi en Jésus-Christ, en son
          oeuvre expiatoire, et se traduit par une transformation de la vie, par
          une grande pureté de conduite, par l'amour du prochain.
        </blockquote>

        <h3 class="text-2xl font-bold my-5 text-indigo-600">
          LE BAPTÊME DU SAINT ESPRIT
        </h3>

        <blockquote
          class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600"
        >
          expérience surnaturelle réalisée dans le croyant par le Saint-Esprit
          et se manifestant entre autres par les dons des langues et de
          prophéties dits «charismes».
        </blockquote>

        <p class="text-base leading-8 my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>

        <a
          href="#"
          class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"
        >
          #Election </a
        >,
        <a
          href="#"
          class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"
        >
          #people </a
        >,
        <a
          href="#"
          class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"
        >
          #Election2020 </a
        >,
        <a
          href="#"
          class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"
        >
          #trump </a
        >,<a
          href="#"
          class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"
        >
          #Joe
        </a>
      </div>
    </div>
  </div>
</div>
