<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 relative">
  <div
    class="bg-cover bg-center text-center overflow-hidden"
    style="
      min-height: 500px;
      background-image: url('https://cdn.helloasso.com/img/photos/add-2019-1-054246b5e34e49d391aa81704f91d121.jpg');
    "
    title="Woman holding a mug"
  ></div>
  <div class="max-w-3xl mx-auto">
    <div
      class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal"
    >
      <div class="bg-white relative top-0 -mt-32 p-5 sm:p-10">
        <h1 href="#" class="text-gray-900 font-bold text-3xl mb-2">
          Qui sommes-nous ?
        </h1>

        <p class="text-base leading-8 my-5">
          Les «ASSEMBLÉES DE DIEU» sont une famille universelle. Elles sont
          répandues dans le monde entier et groupent des millions de croyants
          d'origines diverses qui communient dans la même foi, la même grâce, la
          même espérance. Les « ASSEMBLÉES DE DIEU » forment donc bien un
          rassemblement UNIVERSEL, un peuple chrétien qui a un message pour
          cette génération, lui rappeler que : 
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm my-3">
            <p class="text-gray-700 text-lg italic">«Jésus est le même, hier et aujourd'hui et éternellement»</p>
            <p class="text-gray-700 text-right">- Hébreux 13:8</p>
          </div>
          et Ses Paroles, trop souvent oubliées : 
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm my-3">
            <p class="text-gray-700 text-lg italic">«Si quelqu'un m'aime, il gardera ma Parole»</p>
            <p class="text-gray-700 text-right">- Jean 13:23</p>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm my-3">
            <p class="text-gray-700 text-lg italic">«Le ciel et la terre passeront mais mes paroles ne passeront pas»</p>
            <p class="text-gray-700 text-right">- Matthieu 24:35</p>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm my-3">
            <p class="text-gray-700 text-lg italic">«Cette Bonne Nouvelle du royaume sera prêchée dans le monde entier, pour servir de témoignage à TOUTES les nations. Alors viendra la FIN»</p>
            <p class="text-gray-700 text-right">- Matthieu 24:14</p>
          </div>
          C'est là, la raison d'être et le message du «Mouvement de Pentecôte» : annoncer Jésus-Christ, offrir le «Seul» vrai remède aux maux de l'homme moderne. Le retour à une foi vivante. La nouvelle naissance. La conversion au Dieu Vivant et Vrai. La vie selon la Parole de Dieu.
        </p>
        

        <h3 class="text-2xl font-bold my-5 text-indigo-600">
          LE SALUT PAR GRÂCE
        </h3>

        <blockquote
          class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600"
        >
          don gratuit de Dieu qui se reçoit par la foi en Jésus-Christ, en son
          oeuvre expiatoire, et se traduit par une transformation de la vie, par
          une grande pureté de conduite, par l'amour du prochain.
        </blockquote>

        <h3 class="text-2xl font-bold my-5 text-indigo-600">
          LE BAPTÊME DU SAINT ESPRIT
        </h3>

        <blockquote
          class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600"
        >
          expérience surnaturelle réalisée dans le croyant par le Saint-Esprit
          et se manifestant entre autres par les dons des langues et de
          prophéties dits «charismes».
        </blockquote>

        <h3 class="text-2xl font-bold my-5 text-indigo-600">
          LE PROCHAIN RETOUR DE JÉSUS-CHRIST
        </h3>

        <blockquote
          class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600"
        >
        espérance vivante des croyants de tous les âges et pour laquelle ils se préparent par un attachement sincère aux paroles de Jésus-Christ.
        </blockquote>

        <h3 class="text-2xl font-bold my-5 text-indigo-600">
          LA GUÉRISON MIRACULEUSE DES MALADES
        </h3>

        <blockquote
          class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600"
        >
        espérance vivante des croyants de tous les âges et pour laquelle ils se préparent par un attachement sincère aux paroles de Jésus-Christ.
        </blockquote>

        <p class="text-base leading-8 my-5">
          Les «Assemblées de Dieu» sont des Églises Chrétiennes bâties selon le modèle de Jésus et de ses disciples et en accord avec son commandement de s'occuper des malades en priant pour eux en vue de leur guérison.
        </p>
        
        <p class="text-base leading-8 my-5">
          De même, c'est dans la simplicité évangélique qu'elles pratiquent les seuls rites décrits dans le Nouveau Testament :
        </p>
        
        <div class="my-3">
          <p class="text-base leading-8 my-5">
            Le Baptême, immersion de ceux qui ont cru et prennent en connaissance de cause, l'engagement de conformer leur vie à la Vérité de l'Évangile :
          </p>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
            <p class="text-gray-700 text-lg italic">« Allez, faites de toutes les nations des disciples, les baptisant au nom du Père, du Fils et du Saint-Esprit »</p>
            <p class="text-gray-700 text-right">- Matthieu 28:19</p>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm mt-3">
            <p class="text-gray-700 text-lg italic">« Celui qui croira et sera baptisé sera sauvé, mais celui qui ne croira pas sera condamné »</p>
            <p class="text-gray-700 text-right">- Marc 16:16</p>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm mt-3">
            <p class="text-gray-700 text-lg italic">« Cette eau est une figure du baptême, qui maintenant vous sauve aussi, (ce n'est pas l'éloignement des souillures du corps, mais la demande d'une bonne conscience envers Dieu), par la résurrection de Jésus-Christ »</p>
            <p class="text-gray-700 text-right">- 1 Pierre 3:21</p>
          </div>
        </div>
        
        <div class="my-3">
          <p class="text-base leading-8 my-5">
            La Sainte Cène, communion avec le pain et le vin distribués à tous les membres fidèles de la communauté :
          </p>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
            <p class="text-gray-700 text-lg italic">« Car j'ai reçu du Seigneur ce que je vous ai enseigné; c'est que le Seigneur Jésus, dans la nuit où il fut livré, prit du pain, et, après avoir rendu grâces, le rompit, et dit: Prenez, mangez, ceci est mon corps, qui est rompu pour vous; faites ceci en mémoire de moi. De même, après avoir soupé, il prit la coupe, et dit: Cette coupe est la nouvelle alliance en mon sang; faites ceci en mémoire de moi toutes les fois que vous en boirez. Car toutes les fois que vous mangez ce pain et que vous buvez cette coupe, vous annoncez la mort du Seigneur, jusqu'à ce qu'il vienne. C'est pourquoi celui qui mangera ce pain ou boira la coupe du Seigneur indignement sera coupable envers le corps et le sang du Seigneur. Que chacun donc s'éprouve soi-même, et qu'ainsi il mange de ce pain et boive de cette coupe; car celui qui mange et boit sans discerner le corps du Seigneur, mange et boit un jugement contre lui-même. »</p>
            <p class="text-gray-700 text-right">- 1 Corinthiens 11:23-29</p>
          </div>
        </div>
        
        <div class="my-3">
          <p class="text-base leading-8 my-5">
            L'imposition des mains, pour la guérison des malades, lors des réunions publiques ; et aussi, dans la communauté, pour la réception du Saint-Esprit, avec tous les signes, les grâces et les dons qu'il confère :
          </p>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
            <p class="text-gray-700 text-lg italic">« ils saisiront des serpents; s'ils boivent quelque breuvage mortel, il ne leur fera point de mal; ils imposeront les mains aux malades, et les malades, seront guéris. »</p>
            <p class="text-gray-700 text-right">- Marc 16:18</p>
          </div>
        </div>
        
        <div class="my-3">
          <p class="text-base leading-8 my-5">
            L'onction d'huile pour la guérison des chrétiens malades, qui se réclament de la communion fraternelle, de l'intercession de l'Église et de la prière de la foi :
          </p>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
            <p class="text-gray-700 text-lg italic">« Quelqu'un parmi vous est-il malade? Qu'il appelle les anciens de l'Église, et que les anciens prient pour lui, en l'oignant d'huile au nom du Seigneur; la prière de la foi sauvera le malade, et le Seigneur le relèvera; et s'il a commis des péchés, il lui sera pardonné. »</p>
            <p class="text-gray-700 text-right">- Jacques 5:13-15</p>
          </div>
        </div>
        
        <p class="text-base leading-8 my-5">
          En résumé, les «Assemblées de Dieu» sont des Églises Chrétiennes bâties selon le modèle du Nouveau Testament, et ne poursuivant pas d'autre but que de répandre les enseignements du Christ et de Ses apôtres, et de les mettre en application dans la vie de tous leurs membres.
        </p>
        
        <p class="text-base leading-8 my-5">
          Si vous ne les connaissez pas jusqu'ici, ou si vous désirez vous procurer la Bible ou le Nouveau Testament, dans votre langue natale, notez l'adresse la plus proche et venez faire connaissance. Le meilleur accueil vous y est réservé.
        </p>
       
      </div>
    </div>
  </div>
</div>
