<div>
  <div class="flex flex-wrap justify-center text-center mb-24">
    <div class="w-full lg:w-6/12 px-4">
      <!-- Header -->
      <h1 class="text-white text-4xl font-bold mb-8">
        Nos activités
      </h1>

      <!-- Description -->
      <p class="text-gray-200 text-lg font-light">
        Explorez nos services et missions
      </p>
    </div>
  </div>

  <div class="bg-indigo-700 lg:py-24">
    <!-- First card with image on the left -->
    <div class="bg-indigo-600 lg:pb-0 lg:z-10 lg:relative mb-12">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
        <div class="relative lg:-my-8 lg:col-span-1">
          <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-indigo-700 lg:hidden"></div>
          <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
            <div class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
              <img class="object-cover lg:h-full lg:w-full" src="https://media.istockphoto.com/id/1372742257/fr/photo/loisirs-d%C3%A9t%C3%A9-%C3%A0-la-plage.jpg?s=2048x2048&w=is&k=20&c=0coUR4aNGGkorIhTlmGz28a1q1IE7j2V3Y9wkBqZJck=" alt="Activités et rencontres des jeunes">
            </div>
          </div>
        </div>
        <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
            <blockquote>
              <div class="flex items-center mb-4">
                <svg class="h-12 w-12 text-white opacity-50" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                  <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"/>
                </svg>
                <h1 class="text-4xl text-white ml-4">L'enseignement des enfants et des jeunes</h1>
              </div>
              <p class="mt-6 text-2xl font-medium text-gray-200">Notre vision intergénérationnelle nous conduit à déployer tous nos efforts pour communiquer l’Evangile de manière adaptée à chacun</p>
            </blockquote>
            <div class="bg-gray-800 p-4 rounded-lg shadow-sm mt-6">
              <p class="text-gray-200 text-lg italic">« Instruis l’enfant selon la voie qu’il doit suivre ; Et quand il sera vieux, il ne s’en détournera pas »</p>
              <p class="text-gray-400 text-right">- Proverbes 22:6</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- Second card with image on the right -->
    <div class="bg-indigo-600 lg:pb-0 lg:z-10 lg:relative mb-12">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
        <div class="relative lg:-my-8 lg:order-last lg:col-span-1">
          <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-indigo-700 lg:hidden"></div>
          <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
            <div class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
              <img class="object-cover lg:h-full lg:w-full" src="https://images.pexels.com/photos/4400903/pexels-photo-4400903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Le baptême d’eau par immersion">
            </div>
          </div>
        </div>
        <div class="mt-12 lg:m-0 lg:col-span-2 lg:pr-8">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
            <blockquote>
              <div class="flex items-center mb-4">
                <svg class="h-12 w-12 text-white opacity-50" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                  <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"/>
                </svg>
                <h1 class="text-4xl text-white ml-4">Le baptême d’eau par immersion</h1>
              </div>
              <p class="mt-6 text-2xl font-medium text-gray-200">
                Les femmes et les hommes qui désirent s’engager à suivre Jésus-Christ, le Sauveur, afin qu’Il devienne aussi leur Seigneur, font la démarche de témoigner de leur foi publiquement et manifestent leur engagement dans cette nouvelle voie en se faisant baptiser, comme Jésus notre modèle, humblement l’a lui-même fait. Quelle grâce !
              </p>
              <div class="bg-gray-800 p-4 rounded-lg shadow-sm mt-6">
                <p class="text-gray-200 text-lg italic">« Ignorez-vous que nous tous qui avons été baptisés en Jésus-Christ, c’est en sa mort que nous avons été baptisés? Nous avons donc été ensevelis avec lui par le baptême en sa mort, afin que, comme Christ est ressuscité des morts par la gloire du Père, de même nous aussi nous marchions en nouveauté de vie. »</p>
                <p class="text-gray-400 text-right">- Romains 6:3-4</p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <!-- Third card with image on the left -->
    <div class="bg-indigo-600 lg:pb-0 lg:z-10 lg:relative mb-12">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
        <div class="relative lg:-my-8 lg:col-span-1">
          <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-indigo-700 lg:hidden"></div>
          <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
            <div class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
              <img class="object-cover lg:h-full lg:w-full" src="https://images.pexels.com/photos/16662142/pexels-photo-16662142/free-photo-of-reunion-rencontre-groupe-religion.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Evangélisation">
            </div>
          </div>
        </div>
        <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
            <blockquote>
              <div class="flex items-center mb-4">
                <svg class="h-12 w-12 text-white opacity-50" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                  <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"/>
                </svg>
                <h1 class="text-4xl text-white ml-4">Evangélisation</h1>
              </div>
              <p class="mt-6 text-2xl font-medium text-gray-200">
                L’amour du Christ nous presse à accomplir la mission confiée par Jésus. C’est pourquoi l’église utilise tous les moyens à sa disposition pour partager le message de l’Evangile.
              </p>
              <div class="bg-gray-800 p-4 rounded-lg shadow-sm mt-6">
                <p class="text-gray-200 text-lg italic">« Allez, faites de toutes les nations des disciples, les baptisant au nom du Père, du Fils et du Saint-Esprit, et enseignez-leur à observer tout ce que je vous ai prescrit. »</p>
                <p class="text-gray-400 text-right">- Matthieu 28:19-20</p>
              </div>
              <div class="bg-gray-800 p-4 rounded-lg shadow-sm mt-6">
                <p class="text-gray-200 text-lg italic">« Allez par tout le monde, et prêchez la bonne nouvelle à toute la création. Celui qui croira et sera baptisé sera sauvé; mais celui qui ne croira pas sera condamné. »</p>
                <p class="text-gray-400 text-right">- Marc 16:15-16</p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <!-- Fourth card with image on the right -->
    <div class="bg-indigo-600 lg:pb-0 lg:z-10 lg:relative mb-12">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
        <div class="relative lg:-my-8 lg:order-last lg:col-span-1">
          <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-indigo-700 lg:hidden"></div>
          <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
            <div class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
              <img class="object-cover lg:h-full lg:w-full" src="https://images.pexels.com/photos/272337/pexels-photo-272337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Edifications">
            </div>
          </div>
        </div>
        <div class="mt-12 lg:m-0 lg:col-span-2 lg:pr-8">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
            <blockquote>
              <div class="flex items-center mb-4">
                <svg class="h-12 w-12 text-white opacity-50" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                  <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"/>
                </svg>
                <h1 class="text-4xl text-white ml-4">Edifications</h1>
              </div>
              <div class="mt-6 text-2xl font-medium text-gray-200">
                <p>
                  L'édification, dans le contexte religieux, fait référence à l'acte de renforcer ou de construire la foi des croyants. Cela implique souvent l'enseignement, l'encouragement, et le soutien mutuel parmi les membres d'une communauté religieuse. Le but est de promouvoir une croissance spirituelle et de créer une communauté solide et unifiée.
                </p>
                
                <h3 class="mt-4 text-3xl font-semibold">Exemple d'édification:</h3>
                <ul class="mt-2 ml-6 list-disc list-outside">
                  <li class="mt-2">
                    <strong>Enseignement biblique</strong> : Fournir une compréhension approfondie des Écritures, aidant les croyants à appliquer les enseignements bibliques dans leur vie quotidienne.
                  </li>
                  <li class="mt-2">
                    <strong>Encouragement et soutien</strong> : Offrir un soutien moral et émotionnel aux membres de la communauté, les aidant à surmonter les défis personnels et spirituels.
                  </li>
                  <li class="mt-2">
                    <strong>Partage des témoignages</strong> : Encourager les membres à partager leurs expériences de foi et de vie, inspirant et fortifiant ainsi les autres.
                  </li>
                  <li class="mt-2">
                    <strong>Prière commune</strong> : Prier ensemble pour les besoins individuels et collectifs, renforçant ainsi la communion et la solidarité spirituelle.
                  </li>
                  <li class="mt-2">
                    <strong>Activités communautaires</strong> : Participer à des activités et des projets qui favorisent l'unité et l'entraide au sein de la communauté.
                  </li>
                </ul>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
