<footer class="flex flex-col space-y-10 justify-center items-center m-10">
    <div class="text-center">
        <h2 class="text-2xl font-bold text-gray-800 mb-5">Retrouvez-nous sur les réseaux sociaux</h2>
    </div>
    <div class="flex justify-center space-x-5">
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/facebook-new.png" />
        </a>
        <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/linkedin-2.png" />
        </a>
        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/instagram-new.png" />
        </a>
        <a href="https://messenger.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/facebook-messenger--v2.png" />
        </a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/twitter.png" />
        </a>
    </div>
    <div class="flex flex-col items-center space-y-4 text-gray-700">
        <div class="flex items-center space-x-3">
            <img src="https://img.icons8.com/fluent/24/000000/marker.png" />
            <span>123 Church Street, City, Country</span>
        </div>
        <div class="flex items-center space-x-3">
            <img src="https://img.icons8.com/fluent/24/000000/phone.png" />
            <span>+123 456 7890</span>
        </div>
        <div class="flex items-center space-x-3">
            <img src="https://img.icons8.com/fluent/24/000000/mail.png" />
            <span>email@church.org</span>
        </div>
        <div class="flex items-center space-x-3">
            <img src="https://img.icons8.com/fluent/24/000000/clock.png" />
            <a href="/horaires.html" class="text-gray-700 hover:text-blue-600">Voir les horaires</a>
        </div>
    </div>
    <p class="text-center text-gray-700 font-medium">&copy; 2022 Church Name. All rights reserved.</p>
</footer>
