<div class="w-screen bg-black">
  <div class="mx-auto max-w-7xl pt-16 sm:pt-24">
    <div class="space-y-8 lg:space-y-0 lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="px-6 sm:text-center md:mx-auto md:max-w-2xl lg:col-span-6 lg:flex lg:items-center lg:text-left">
        <div class="space-y-8">
          <div class="space-y-4">
            <div class="space-y-2">
              <span class="rounded-full uppercase bg-pink-500 px-3 py-0.5 text-sm font-semibold leading-5 text-white">
                En direct
              </span>
              <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl">
                <span class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-pink-600">
                  Suivez nos réunions
                </span>
                <br />
                En live
              </h1>
            </div>
          </div>
          <div class="flex space-x-4 items-center text-white">
            <div class="flex items-center space-x-2">
              <div class="flex flex-shrink-0 -space-x-1"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center w-full col-span-6">
        <div class="px-6 w-full max-w-2xl mx-auto">
          <!-- Conteneur avec ratio pour maintenir l'aspect de la vidéo -->
          <div class="relative" style="padding-top: 56.25%;"> <!-- 16:9 Aspect Ratio -->
            <iframe class="absolute top-0 left-0 w-full h-full"
              frameborder="0"
              allowfullscreen="1"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              src="https://www.youtube.com/embed/mr15Xzb1Ook?autoplay=0&amp;mute=0&amp;controls=0"
              id="widget2">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
