 <div class="container flex flex-col mx-auto bg-white">
     
            <div class="grid w-full grid-cols-1 my-auto mt-12 mb-8 md:grid-cols-2 xl:gap-14 md:gap-5">
                <div class="flex flex-col justify-center col-span-1 text-center lg:text-start">
                    
                    <h1 class="mb-8 text-4xl font-extrabold leading-tight lg:text-6xl text-dark-grey-900">Bienvenue à l’Eglise la seyne-sur-mer</h1>
                    <p class="mb-6 text-base font-normal leading-7 lg:w-3/4 text-grey-900">
                        Say goodbye to endless hours spent on building templates from scratch. Experience the quickest, most responsive, and trendiest dashboard solution available. Seriously.
                    </p>
                
                </div>
                <div class="items-center justify-end hidden col-span-1 md:flex">
                    <img class="w-4/5 rounded-md" src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/header-1.png" alt="header image">
                </div>
            </div>
        </div>
     