<!-- Page Container -->
<div class="flex items-center justify-center min-h-screen bg-white py-48">
    <div class="flex flex-col mt-8">
        <!-- Meet the Team -->
        <div class="container max-w-7xl px-4">
            <!-- Section Header -->
            <div class="flex flex-wrap justify-center text-center mb-24">
                <div class="w-full lg:w-6/12 px-4">
                    <!-- Header -->
                    <h1 class="text-gray-500 text-4xl font-bold mb-8">
                        Notre équipes pastorale
                    </h1>

                    <!-- Description -->
                    <p class="text-gray-400 text-lg font-light">
                        Des Hommes et des Femmes de Foi à Votre Service
                    </p>
                </div>
            </div>

            <!-- Team Members -->
            <div class="flex flex-wrap justify-center">
                {% for member in team_members %}
                <!-- Member -->
                <div class="w-full sm:w-6/12 lg:w-1/3 mb-6 px-4">
                    <div class="flex flex-col items-center justify-center bg-white rounded-2xl shadow-lg h-full">
                        <!-- Avatar -->
                        <a href="#" class="w-full h-64 overflow-hidden rounded-t-2xl">
                            <img class="w-full h-full object-cover" src="{{ member.image }}" alt="{{ member.name }}">
                        </a>

                        <!-- Details -->
                        <div class="flex flex-col items-center justify-center p-4">
                            <!-- Name -->
                            <h1 class="text-gray-900 text-xl font-bold mb-1">
                                {{ member.name }}
                            </h1>

                            <!-- Title -->
                            <div class="text-gray-700 font-light mb-2">
                                {{ member.title }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Member -->
            </div>
        </div>
    </div>
</div>
