<!-- Page Container -->
<div class="flex items-center justify-center min-h-screen bg-white py-24">
    <div class="flex flex-col mt-8 w-full">
        <!-- Meet the Team -->
        <div class="container mx-auto max-w-7xl px-4">
            <!-- Section Header -->
            <div class="flex flex-wrap justify-center text-center mb-12">
                <div class="w-full lg:w-6/12 px-4">
                    <!-- Header -->
                    <h1 class="text-gray-500 text-4xl font-bold mb-8">
                        Notre équipe pastorale
                    </h1>

                    <!-- Description -->
                    <p class="text-gray-400 text-lg font-light">
                        Des Hommes et des Femmes de Foi à Votre Service
                    </p>
                </div>
            </div>

            <!-- Team Members -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-3 gap-8 justify-items-center">
                {% for member in team_members %}
                <!-- Member -->
                <div class="flex flex-col items-center justify-center bg-white p-6 shadow-lg rounded-xl h-80 w-60">
                    <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-40 w-40">
                        <img src="{{ member.image.url }}" alt="" class="h-full w-full object-cover">
                    </div>
                    <h2 class="mt-4 font-bold text-xl text-center">{{ member.first_name }} {{ member.last_name }}</h2>
                    <h6 class="mt-2 text-sm font-medium text-gray-700">{{ member.role }}</h6>
                </div>
                {% endfor %}
                <!-- End Member -->
            </div>
        </div>
    </div>
</div>
