<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Nos pasteurs</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400"> Des Hommes et des Femmes de Foi à Votre Service</p>
        </div> 
        <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            {% for member in team_members %}
            <div class="text-center text-gray-500 dark:text-gray-400">
                <div class="mx-auto mb-4 w-36 h-36 rounded-full overflow-hidden">
                    <img class="object-cover w-full h-full" src="{{ member.image.url }}" alt="{{ member.first_name }} {{ member.last_name }}">
                </div>
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a href="#">{{ member.first_name }} {{ member.last_name }}</a>
                </h3>
                <p>{{ member.role }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
